<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn@Home | Computer Network</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Krona+One&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='topics.css')}}">
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="home">Learn@Home</a>
        </div>
        <nav>
            <a href="home#about">About</a>
            <a href="learn">Learn</a>
            <a href="home#learn">Quiz</a>
            <a href="home#learn">Contact Us</a>
        </nav>
    </div>
</header>
<div class="banner-area">
    <h2>Computer Networks</h2>
</div>
<div class="content-area">
    <div class="wrapper">
        <h3>Code never lies, comments sometimes do. <i> - Ron Jeffries</i></h3>
        <div class="container">
           <a href="osiModel"><div class="card"><p class="card__name">OSI Model</p></div></a>
            <a href="computer_network"><div class="card"><p class="card__name">Physical Layer</p></div></a>
            <a href="computer_network"><div class="card"><p class="card__name">Data Link Layer</p></div></a>
        </div>

    </div>
</div>
</body>
</html>