<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn@Home | Computer Network</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Krona+One&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='topics.css')}}">
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="home">Learn@Home</a>
        </div>
        <nav>
            <a href="home#about">About</a>
            <a href="learn">Learn</a>
            <a href="home#learn">Quiz</a>
            <a href="home#learn">Contact Us</a>
        </nav>
    </div>
</header>
<div class="banner-area">
    <h2>OSI Model</h2>
</div>
<div class="content-area">
    <div class="wrapper">
        <h3><i> - Code Seeker</i></h3>
        <p>OSI stands for Open Systems Interconnection. It has been developed by ISO – ‘International Organization of
            Standardization‘, in the year 1984. It is a 7 layer architecture with each layer having specific
            functionality to perform. All these 7 layers work collaboratively to transmit the data from one person to
            another across the globe.</p>
        <h3>Layer 1:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. A diam sollicitudin tempor id eu nisl nunc. Tellus in metus vulputate eu scelerisque.
            Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum. Massa sed elementum tempus egestas
            sed sed risus pretium quam. Lectus proin nibh nisl condimentum id. Amet mauris commodo quis imperdiet massa
            tincidunt nunc pulvinar. Erat nam at lectus urna duis convallis convallis. Sollicitudin ac orci phasellus
            egestas. Volutpat ac tincidunt vitae semper.</p>
        <h3>Layer 2:</h3>
        <p>Mi in nulla posuere sollicitudin aliquam ultrices. Faucibus ornare suspendisse sed nisi lacus sed viverra
            tellus. Eu tincidunt tortor aliquam nulla. Pellentesque diam volutpat commodo sed. Leo a diam sollicitudin
            tempor id eu nisl nunc mi. Convallis aenean et tortor at risus viverra adipiscing at in. Fermentum dui
            faucibus in ornare quam viverra orci. Nulla malesuada pellentesque elit eget gravida. Nunc sed blandit
            libero volutpat sed. Sapien eget mi proin sed libero. Viverra maecenas accumsan lacus vel facilisis
            volutpat. Nulla facilisi morbi tempus iaculis. Ultrices sagittis orci a scelerisque purus semper eget duis
            at. Amet cursus sit amet dictum sit amet justo. Ipsum nunc aliquet bibendum enim facilisis gravida neque
            convallis a. Nunc vel risus commodo viverra maecenas accumsan. Aliquet nec ullamcorper sit amet risus nullam
            eget felis.</p>
        <h3>Layer 3:</h3>
        <p>Velit egestas dui id ornare arcu odio ut sem nulla. Fermentum iaculis eu non diam phasellus vestibulum lorem
            sed risus. Id interdum velit laoreet id. Mauris cursus mattis molestie a iaculis at erat pellentesque.
            Pharetra diam sit amet nisl suscipit adipiscing. Massa tincidunt nunc pulvinar sapien. Eu scelerisque felis
            imperdiet proin fermentum leo vel orci. Habitasse platea dictumst vestibulum rhoncus. Pellentesque sit amet
            porttitor eget. Blandit aliquam etiam erat velit scelerisque in dictum non. Ac odio tempor orci dapibus
            ultrices in iaculis nunc. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Diam
            maecenas ultricies mi eget mauris pharetra et ultrices neque. Tellus integer feugiat scelerisque varius
            morbi enim nunc faucibus. Eget velit aliquet sagittis id consectetur. Velit egestas dui id ornare arcu odio
            ut sem nulla. Amet luctus venenatis lectus magna fringilla. Tristique senectus et netus et malesuada fames.
            Amet luctus venenatis lectus magna fringilla.
        </p>
     <a href="osiModelQuiz" class="button">Start Quiz</a>
    </div>
</div>
</body>
</html>